--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: leaderboard; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.leaderboard (
    id integer NOT NULL,
    user_id character varying(255) NOT NULL,
    user_email character varying(255),
    user_first_name character varying(255),
    user_last_name character varying(255),
    user_username character varying(255),
    skill character varying(255) NOT NULL,
    difficulty character varying(50) NOT NULL,
    total_score integer NOT NULL,
    avg_score numeric(4,2) NOT NULL,
    questions_attempted integer DEFAULT 0,
    is_completed boolean DEFAULT false,
    quit_reason character varying(255),
    interview_duration integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT leaderboard_avg_score_check CHECK (((avg_score >= (0)::numeric) AND (avg_score <= (10)::numeric))),
    CONSTRAINT leaderboard_difficulty_check CHECK (((difficulty)::text = ANY ((ARRAY['easy'::character varying, 'medium'::character varying, 'hard'::character varying])::text[]))),
    CONSTRAINT leaderboard_interview_duration_check CHECK ((interview_duration >= 0)),
    CONSTRAINT leaderboard_questions_attempted_check CHECK ((questions_attempted >= 0)),
    CONSTRAINT leaderboard_total_score_check CHECK (((total_score >= 0) AND (total_score <= 100)))
);


ALTER TABLE public.leaderboard OWNER TO postgres;

--
-- Name: global_leaderboard; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.global_leaderboard AS
 SELECT user_id,
    user_first_name,
    user_last_name,
    user_username,
    user_email,
    skill,
    difficulty,
    total_score,
    avg_score,
    questions_attempted,
    interview_duration,
    created_at,
    row_number() OVER (ORDER BY avg_score DESC, total_score DESC, questions_attempted DESC, created_at) AS global_rank
   FROM public.leaderboard
  WHERE ((is_completed = true) AND (user_first_name IS NOT NULL) AND ((user_first_name)::text <> ''::text));


ALTER VIEW public.global_leaderboard OWNER TO postgres;

--
-- Name: interview_responses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.interview_responses (
    id integer NOT NULL,
    interview_id integer NOT NULL,
    user_id character varying(255) NOT NULL,
    question_number integer NOT NULL,
    question_text text NOT NULL,
    user_answer text DEFAULT ''::text,
    ai_score integer,
    ai_feedback text,
    confidence character varying(20) DEFAULT 'medium'::character varying,
    response_time integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    improvements text,
    confidence_tips text,
    final_score integer DEFAULT 0,
    avg_score numeric(3,1) DEFAULT 0.0,
    skills character varying(255),
    user_first_name character varying(100),
    user_last_name character varying(100),
    user_email character varying(255),
    CONSTRAINT interview_responses_ai_score_check CHECK (((ai_score >= 0) AND (ai_score <= 10))),
    CONSTRAINT interview_responses_confidence_check CHECK (((confidence)::text = ANY ((ARRAY['low'::character varying, 'medium'::character varying, 'high'::character varying])::text[]))),
    CONSTRAINT interview_responses_question_number_check CHECK ((question_number > 0)),
    CONSTRAINT interview_responses_response_time_check CHECK ((response_time >= 0))
);


ALTER TABLE public.interview_responses OWNER TO postgres;

--
-- Name: interview_responses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.interview_responses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.interview_responses_id_seq OWNER TO postgres;

--
-- Name: interview_responses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.interview_responses_id_seq OWNED BY public.interview_responses.id;


--
-- Name: leaderboard_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.leaderboard_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.leaderboard_id_seq OWNER TO postgres;

--
-- Name: leaderboard_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.leaderboard_id_seq OWNED BY public.leaderboard.id;


--
-- Name: user_interview_history; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.user_interview_history AS
 SELECT l.id,
    l.user_id,
    l.skill,
    l.difficulty,
    l.total_score,
    l.avg_score,
    l.questions_attempted,
    l.is_completed,
    l.quit_reason,
    l.interview_duration,
    l.created_at,
    count(ir.id) AS responses_saved
   FROM (public.leaderboard l
     LEFT JOIN public.interview_responses ir ON ((l.id = ir.interview_id)))
  GROUP BY l.id, l.user_id, l.skill, l.difficulty, l.total_score, l.avg_score, l.questions_attempted, l.is_completed, l.quit_reason, l.interview_duration, l.created_at
  ORDER BY l.created_at DESC;


ALTER VIEW public.user_interview_history OWNER TO postgres;

--
-- Name: user_logins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_logins (
    id integer NOT NULL,
    user_id character varying(255) NOT NULL,
    email_id character varying(255),
    first_name character varying(100),
    last_name character varying(100),
    username character varying(100),
    full_name character varying(200),
    login_time timestamp without time zone DEFAULT now(),
    user_agent text,
    ip_address character varying(45),
    session_id character varying(255),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.user_logins OWNER TO postgres;

--
-- Name: user_logins_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_logins_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_logins_id_seq OWNER TO postgres;

--
-- Name: user_logins_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_logins_id_seq OWNED BY public.user_logins.id;


--
-- Name: interview_responses id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interview_responses ALTER COLUMN id SET DEFAULT nextval('public.interview_responses_id_seq'::regclass);


--
-- Name: leaderboard id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leaderboard ALTER COLUMN id SET DEFAULT nextval('public.leaderboard_id_seq'::regclass);


--
-- Name: user_logins id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_logins ALTER COLUMN id SET DEFAULT nextval('public.user_logins_id_seq'::regclass);


--
-- Data for Name: interview_responses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: leaderboard; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_logins; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: interview_responses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.interview_responses_id_seq', 487, true);


--
-- Name: leaderboard_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.leaderboard_id_seq', 89, true);


--
-- Name: user_logins_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_logins_id_seq', 280, true);


--
-- Name: interview_responses interview_responses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interview_responses
    ADD CONSTRAINT interview_responses_pkey PRIMARY KEY (id);


--
-- Name: leaderboard leaderboard_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leaderboard
    ADD CONSTRAINT leaderboard_pkey PRIMARY KEY (id);


--
-- Name: user_logins user_logins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_logins
    ADD CONSTRAINT user_logins_pkey PRIMARY KEY (id);


--
-- Name: idx_leaderboard_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_leaderboard_created_at ON public.leaderboard USING btree (created_at DESC);


--
-- Name: idx_leaderboard_ranking; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_leaderboard_ranking ON public.leaderboard USING btree (avg_score DESC, total_score DESC, questions_attempted DESC, created_at) WHERE (is_completed = true);


--
-- Name: idx_login_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_login_time ON public.user_logins USING btree (login_time);


--
-- Name: idx_responses_question_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_responses_question_number ON public.interview_responses USING btree (question_number);


--
-- Name: idx_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_id ON public.user_logins USING btree (user_id);


--
-- Name: idx_user_session_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_user_session_unique ON public.user_logins USING btree (user_id, session_id) WHERE (session_id IS NOT NULL);


--
-- Name: leaderboard update_leaderboard_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_leaderboard_updated_at BEFORE UPDATE ON public.leaderboard FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: interview_responses fk_interview_responses_interview_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interview_responses
    ADD CONSTRAINT fk_interview_responses_interview_id FOREIGN KEY (interview_id) REFERENCES public.leaderboard(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

